[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[user]
	name = yukihirop
	email = te108186@gmail.com
[alias]
	co = checkout
  	open = !sh ~/bin/gitopen.sh
[core]
	editor = subl -w
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[color]
	ui = auto
[ghq]
  	root = ~/src
[browse-remote "github.com"]
  	top = https://{host}/{path}
  	ref = https://{host}/{path}/pull/{short_ref}
  	rev = https://{host}/{path}/commit/{commit}
  	file = "https://{host}/{path}/blob/{short_rev}/{file}{line && \"#L%d\" % line}"
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[include]
	path = $HOME/.gitconfig.local
[url "https://19fab83b55215a12dda6a2485ab00b845f87a3d4:x-oauth-basic@github.com/"]
	insteadOf = https://github.com/
[submodule]
	recurse = true
