[submodule "cool-peco"]
	path = cool-peco
	url = git@github.com:ryoppy/cool-peco.git
[submodule "z"]
	path = z
	url = git@github.com:rupa/z.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:yukihirop/oh-my-zsh.git
